{% extends "dashboard.html" %}
{% block titulo %}perfil{% endblock titulo %}
{% load static %}
{% block contenido %}
<!-- Content -->

<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Account Settings /</span> Accountsss</h4>

  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-pills flex-column flex-md-row mb-3">
        <li class="nav-item">
          <a class="nav-link active" href="javascript:void(0);"><i class="bx bx-user me-1"></i>Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url "crear_evento" %}"><i class="bx bx-user me-1"></i>Eventos</a>
        </li>
        
      </ul>

      <div class="card mb-4">
        <h5 class="card-header">Detalles del perfil</h5>

        <div class="card-body">

          <form id="formAccountSettings" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- Account -->
            <div class="card-body">
              <div class="d-flex align-items-start align-items-sm-center gap-4">
                <img src="{{ form.foto.value.url }}" alt="imagen actual restaurante" class="d-block rounded" height="100"
                  width="100" id="uploadedAvatar" />

                  <div class="button-wrapper">
                    <label class="form-label" for="{{form.foto.id_for_label}}">Imagen</label>
                    <div class="input-group mb-3">
                      <input accept="image/*" type="file" name="{{form.foto.name}}" multiple class="form-control" id="{{form.foto.name}}"
                        aria-describedby="inputGroupFileAddon03" aria-label="Upload" value="{{ form.foto.value|default_if_none:''  }}">
                    </div>
                    <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
                  </div>
              </div>
            </div>

            <hr class="my-0" />

            <div class="row">
              <div class="mb-3 col-md-6">
                <label for="{{form.nombre.id_for_label}}" class="form-label">Nombre del restaurante</label>
                <input class="form-control" type="text" id="{{form.nombre.id_for_label}}" name="{{form.nombre.name}}"
                  value="{{ form.nombre.value|default_if_none:''  }}" autofocus />
              </div>

              <div class="mb-3 col-md-6">
                <label for="{{form.descripcion.id_for_label}}" class="form-label">Descripcion</label>
                <textarea id="{{form.descripcion.id_for_label}}" name="{{form.descripcion.name}}" class="form-control"
                  placeholder="" aria-label="Hi, Do you have a moment to talk Joe?"
                  aria-describedby="basic-icon-default-message2">{{ form.descripcion.value}}</textarea>
              </div>

              <div class="mb-3 col-md-6">
                <label for="{{form.direccion.id_for_label}}" class="form-label">Direccion</label>
                <input class="form-control" type="text" id="{{form.direccion.id_for_label}}"
                  name="{{form.direccion.name}}" value="{{ form.direccion.value|default_if_none:'' }}" autofocus />
              </div>

              <div class="mb-3 col-md-6">
                <label for="{{form.celular.id_for_label}}" class="form-label">Numero de celular</label>
                <input type="text" id="{{form.celular.id_for_label}}" name="{{form.celular.name}}" class="form-control"
                  value="{{ form.celular.value|default_if_none:'' }}" placeholder="202 555 0111" />
              </div>

              <div class="mb-3 col-md-6">
                <label for="{{form.correo.id_for_label}}" class="form-label">Correo</label>
                <input class="form-control" type="text" id="{{form.correo.id_for_label}}" name="{{form.correo.name}}"
                  value="{{ form.correo.value|default_if_none:'' }}" placeholder="john.doe@example.com" />
              </div>

              <div class="mb-3 col-md-6">
                <label for="" class="form-label">Ubicacion</label>
                <button type="button" onclick="obtenerUbicacion()" class="btn btn-primary d-grid w-100">Obtener
                  Ubicación Actual</button>
                <input type="hidden" name="ubicacion" id="ubicacion">
                
                
              </div>

              <div class="mt-2">
                <button type="submit" class="btn btn-primary me-2">Guardar y cambiar</button>
                <button type="reset" class="btn btn-outline-secondary">Cancelar</button>
              </div>
            </div>
          </form>
        </div>
        <!-- /Account -->
      </div>
    </div>
  </div>
</div>
<!-- Ejemplo de integración con Geolocalización -->
<script>
  function obtenerUbicacion() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var lat = position.coords.latitude.toFixed(6);
        var lng = position.coords.longitude.toFixed(6);
        var ubicacion = JSON.stringify({
          'latitud': lat,
          'longitud': lng
        });
        document.getElementById('ubicacion').value = ubicacion;
        // Mostrar la ubicación en un mapa (por ejemplo, Leaflet)
        var map = L.map('map').setView([lat,lng], 15);
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
          maxZoom: 19,
          attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
         }).addTo(map);
          L.marker([lat, lng]).addTo(map);
      });
    } else {
      alert('Tu navegador no soporta la geolocalización.');
    }
  }
</script>
<!-- / Content -->
{% endblock contenido %}