{% extends "base.html" %}
{% load static %}
{% block titulo %}Sabbor Andino{% endblock titulo %}
{% block contenido %}

<!-- Modal -->
<div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="w-100 pt-1 mb-5 text-right">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="" method="get" class="modal-content modal-body border-0 p-0">
            <div class="input-group mb-2">
                <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                <button type="submit" class="input-group-text bg-success text-light">
                    <i class="fa fa-fw fa-search text-white"></i>
                </button>
            </div>
        </form>
    </div>
</div>

<!-- Start Banner Hero -->
<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="{% static 'img/index/carusel1.jpg' %}" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 text-success">Bienvenido a La Cocha</h1>
                            <h3 class="h2 text-success">Sumérgete en una experiencia gastronómica y descubre los sabores únicos de nuestra región.</h3>
                            <p>
                                "Bienvenido a la Laguna de la Cocha, un paraíso natural donde la belleza paisajística se fusiona con la riqueza culinaria. 
                                En nuestra página web, te invitamos a explorar los deliciosos secretos que guarda nuestra región en cada bocado. 
                                Desde la frescura de los pescados locales hasta la tradición de los platos típicos, 
                                cada experiencia gastronómica es un viaje sensorial que deleitará tu paladar y enriquecerá tu alma. 
                                ¡Descubre la magia de la cocina de la Laguna de la Cocha y déjate seducir por sus aromas y sabores!"
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="{% static 'img/index/carusel2.jpg' %}" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1 text-success">"Los Aromas de la Tradición en la Mesa"</h1>
                            <h3 class="h2 text-success">"Descubre la esencia de nuestra cultura a través de la gastronomía."</h3>
                            <p>
                                Sumérgete en una experiencia culinaria que te conecta con nuestras raíces ancestrales. 
                                En la Laguna de la Cocha, cada comida es una celebración de la historia y la tradición de nuestra comunidad. 
                                Desde el aroma tentador de las hierbas frescas hasta la calidez de platos preparados con amor, 
                                cada comida te invita a saborear la autenticidad de nuestra cultura.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="{% static 'img/index/carusel3.jpg' %}" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1 text-success">"Explora la Esencia Cultural de la Laguna de la Cocha"</h1>
                            <h3 class="h2 text-success">"Sumérgete en la riqueza de nuestras tradiciones y costumbres."</h3>
                            <p>
                                En la Laguna de la Cocha, la cultura es el corazón latente que da vida a cada rincón de nuestra región. 
                                Desde las danzas ancestrales hasta las artesanías únicas, cada aspecto de nuestra cultura refleja la belleza 
                                y la diversidad de nuestra comunidad. Únete a nosotros en un viaje para descubrir la autenticidad y el encanto 
                                que hacen de la Laguna de la Cocha un tesoro cultural inigualable.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
    </a>
</div>

<!-- Galería de Imágenes -->
<section id="galeria" class="py-5">
    <div class="container">
        <h2 class="text-center text-success ">Galería de Imágenes</h2>
        <div class="row">
            <div class="col-md-4">
                <img src="{% static 'img/plato1.jpg' %}" class="img-fluid mb-3" alt="Plato 1">
            </div>
            <div class="col-md-4">
                <img src="{% static 'img/plato2.jpg' %}" class="img-fluid mb-3" alt="Plato 2">
            </div>
            <div class="col-md-4">
                <img src="{% static 'img/plato3.jpg' %}" class="img-fluid mb-3" alt="Plato 3">
            </div>
        </div>
    </div>
</section>

<!-- Tradiciones Gastronómicas -->
<section id="tradiciones" class="py-5 bg-light">
    <div class="container">
        <h2 class="text-center text-success mb-4">Tradiciones Gastronómicas</h2>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <p>En la Laguna de la Cocha, la gastronomía no es solo un placer, sino una tradición rica y vibrante que ha pasado de generación en generación. Los platos típicos, como las diferentes preparaciones de la trucha arcoiris, son elaborados con ingredientes frescos y métodos tradicionales que resaltan la historia y la cultura de nuestra región.</p>
                <p>Las festividades, como el Festival de la Trucha, son momentos perfectos para disfrutar de la comida típica, compartir con la comunidad y mantener vivas las costumbres locales.</p>
            </div>
            <div class="col-lg-6 text-center">
                <img src="{% static 'img/tradiciones.jpg' %}" class="img-fluid rounded" style="width: 60%;" alt="Tradiciones Gastronómicas de la Laguna de la Cocha">
            </div>
        </div>
    </div>
</section>



<div class="col-12 mb-3">
    <div class="w-100 my-3 border-top border-light"></div>
</div>

{% endblock contenido %}
