{% extends "dashboard.html" %}

{% block titulo %}Listar eventos{% endblock titulo %}
{% block css %}{% endblock css %}

{% block contenido %}
<div class="content-wrapper">
    <!-- Contenido -->
  
    <div class="container-xxl flex-grow-1 container-p-y">
      
  
      <!-- Diseño Básico -->
      
      <div class="col-xl">
        <div class="card mb-4">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Listar eventos</h5>
            <small class="text-muted float-end">Descripción del listado</small>
          </div>
          <div class="card-body">
            <table class="table table-striped">
  
              <thead>
                <tr>
                  
                  <th>Nombre</th>
                  <th>Fecha inicio</th>
                  <th>Fecha fin</th>
                  <th>Ubicacion</th>
                  <th>Descripcion</th>
                </tr>
              </thead>
  
              <tbody>
                {% for evento in evento  %}
                  <tr>
                    
                    <td>{{ evento.nombre }}</td>
                    <td>{{ evento.fecha_inicio }}</td>
                    <td>{{ evento.fecha_fin }}</td>
                    <td>{{ evento.ubicacion }}</td>
                    <td>{{ evento.descripcion }}</td>
                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                              <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="{% url "editar_evento" evento.id %}"
                                ><i class="bx bx-edit-alt me-2"></i> Editar</a
                              >
                              <a class="dropdown-item" href="{% url "eliminar_evento" evento.id %}"
                                ><i class="bx bx-trash me-2"></i> Eliminar</a
                              >
                            </div>
                          </div>
                    </td>
                  </tr>
                  {% endfor %}
    
              </tbody>
            </table>
          </div>
          
        </div>
      </div>
    </div>
  </div>
{% endblock contenido %}
{% block js %}{% endblock js %}