<!-- templates/resultados_busqueda.html -->
{% extends "base_dashboard.html" %}

{% block content %}
<div class="container">
    <h1>Resultados de Búsqueda</h1>
    {% if query %}
        <p>Resultados de búsqueda para "{{ query }}":</p>
        <ul>
            {% for name, url in results %}
                <li><a href="{{ url }}">{{ name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No se proporcionó ningún término de búsqueda.</p>
    {% endif %}
</div>
{% endblock %}
