{% extends "base_dashboard.html" %}
{% load static %}
{% load widget_tweaks %}
{% block titulo %}Listar eventos{% endblock titulo %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
{% endblock css %}

{% block contenido %}
<div class="content-wrapper">
  <!-- Contenido -->

  <div class="container-xxl flex-grow-1 container-p-y">

    <!-- Diseño Básico -->

    <div class="col-xl">
      <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="mb-0">Listar eventos</h5>
          <small class="text-muted float-end">Descripción del listado</small>
        </div>
        <div class="card-body">
          <table class="table table-hover">

            <thead>
              <tr>

                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Lugar</th>
                <th>Fecha inicio</th>
                <th>Fecha fin</th>
                <th>Imagen</th>
                <th>Opcion</th>
              </tr>
            </thead>

            <tbody>
              {% for evento in evento  %}
              <tr onclick="window.location.href='{% url "editar_evento" evento.id %}'" style="cursor:pointer;">

                <td>{{ evento.nombre }}</td>
                <td>{{ evento.descripcion }}</td>
                <td>{{ evento.ubicacion }}</td>
                <td>{{ evento.fecha_inicio|date:"Y-m-d" }}</td>
                <td>{{ evento.fecha_fin|date:"Y-m-d" }}</td>
                <td>
                  {% if evento.foto and evento.foto.url != '/media/default/default_evento.png' %}
                  <span class="text-success" style="font-size: 1.5em;"><i class="fas fa-check-circle"></i></span>
                  <!-- Ícono de visto -->
                  {% else %}
                  <span class="text-danger" style="font-size: 1.5em;"><i class="fas fa-times-circle"></i></span>
                  <!-- Ícono de X -->
                  {% endif %}

                </td>
                <td class="acciones center" onclick="event.stopPropagation();">
                  <div class="dropdown">
                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                      <i class="bx bx-dots-vertical-rounded"></i>
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal"
                        onclick="setDeleteFormAction('{% url 'eliminar_evento' evento.id %}')">
                        <i class="bx bx-trash me-2"></i> Eliminar
                      </a>
                    </div>
                  </div>
                </td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="7" class="text-center">No hay Eventos disponibles.</td>
              </tr>
              {% endfor %}

            </tbody>
          </table>
          <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Eliminación</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  ¿Estás seguro de que deseas eliminar este evento?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <form id="delete-form" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock contenido %}
{% block javascript %}
<script>
  function setDeleteFormAction(action) {
    const form = document.getElementById('delete-form');
    form.action = action;
  }
</script>
{% endblock javascript %}
