{% extends "base_pagina.html" %}
{% load static %}
{% block titulo %}Nueva contraseña - Sabbor Andino{% endblock titulo %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
{% endblock css %}

{% block meta %}
<meta name="description"
    content="Regístrate en Sabbor Andino, la plataforma ideal para turistas y restaurantes en la Laguna de la Cocha. Conectamos gastronomía y aventuras.">
<meta name="keywords" content="Sabbor Andino, registro, turista, restaurante, Laguna de la Cocha, gastronomía, recetas">
{% endblock %}

{% block contenido %}
<!-- Content -->
<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="col-5">
            <!-- Register Card -->
            <div class="card">
                <div class="card-body" style="max-height: 650px; overflow-y: auto;">
                    <!-- Logo -->
                    <div class="text-center mb-4">
                        <img src="{% static 'img/iconoSaborAndino.png' %}" alt="Logo de Sabbor Andino" class="img-fluid"
                            style="max-width: 90px;">
                    </div>
                    <!-- /Logo -->
                    <!-- templates/registration/password_reset_done.html -->
                    <h2>Correo enviado</h2>
                    <p>Se ha enviado un enlace de recuperación a tu correo. Por favor, revisa tu bandeja de entrada.</p>

                </div>
            </div>
            <!-- Register Card -->
        </div>
    </div>
</div>

{% endblock contenido %}